In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("data/credit_card_transactions.csv")

In [37]:
df['cc_num'].nunique()

876

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             5000 non-null   int64
 1   trans_date_trans_time  5000 non-null   object
 2   cc_num                 5000 non-null   int64
 3   merchant               5000 non-null   object
 4   category               5000 non-null   object
 5   amt                    5000 non-null   float64
 6   first                  5000 non-null   object
 7   last                   5000 non-null   object
 8   gender                 5000 non-null   object
 9   street                 5000 non-null   object
 10  city                   5000 non-null   object
 11  state                  5000 non-null   object
 12  zip                    5000 non-null   int64
 13  lat                    5000 non-null   float64
 14  long                   5000 non-null   float64
 15  city_pop               5000 non-null   int64
 16  job                    5000 non-null   object
 17  dob                    5000 non-null   object
 18  trans_num              5000 non-null   object
 19  unix_time              5000 non-null   int64
 20  merch_lat              5000 non-null   float64
 21  merch_long             5000 non-null   float64
 22  is_fraud               5000 non-null   int64
 23  merch_zipcode          4214 non-null   float64
dtypes: float64(6), int64(6), object(12)
memory usage: 937.6+ KB

In [39]:
df['is_fraud'].value_counts()

is_fraud
0    4978
1      22
Name: count, dtype: int64